   <br>
   <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <!-- <p class="copyright text-muted"> -->
                  <p> &copy; 2021 Alex Wolf. <a href="/impressum/">Impressum.</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="_vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="_vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="_js/clean-blog.min.js"></script>

#BLOG    <!-- MathJax -->
#BLOG    <script type="text/x-mathjax-config">
#BLOG      MathJax.Hub.Config({
#BLOG        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
#BLOG        TeX: {equationNumbers: { autoNumber: "AMS"} }
#BLOG      });
#BLOG    </script>
#BLOG    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML-full"></script>

</body>

</html>
