   <br>
   <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <!-- <p class="copyright text-muted"> -->
                  <p> &copy; 2019 Alex Wolf.
                    <br>Theme based on <a href="https://startbootstrap.com/">bootstrap</a>.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="_vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="_vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="_js/clean-blog.min.js"></script>

</body>

</html>
