<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal site.">
    <meta name="author" content="Alex Wolf">

    <title>Alex Wolf - {title}</title>

    <link rel="stylesheet" href="/_css/bootstrap.css">
    <link rel="stylesheet" href="/_css/clean-blog.css">
    <link rel="stylesheet" href="/_academicons-1.8.6/css/academicons.min.css"/>
    <link rel="stylesheet" href="/_vendor/font-awesome/css/font-awesome.min.css" type="text/css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
        <div class="row">
        <!-- Add the following row to use a narrow navigation bar -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">falexwolf</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">About</a>
                    </li>
                    <li>
                        <a href="/research/">Research</a>
                    </li>
                    <li>
                        <a href="/publications/">Publications</a>
                    </li>
                    <li>
                        <a href="/software/">Software</a>
                    </li>
                    <li>
                        <a href="/talks/">Talks</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        </div>
        <!-- /.container -->
    </nav>
    <div style="height: 5em;"></div>